/* ORDINATEUR */

* {
    margin: 0;
    padding: 0;
}

header {
    padding: 50px;
}

body {
    font-family: 'Raleway', sans-serif;
    max-width: 1400px;
    
}

section {
    padding-left: 50px;
}

nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

nav img {
    max-width: 70px;
}

nav img:hover {
    opacity: 0.6;
}

nav div a {
    font-size: 17px;
    color: black;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 15px;
}

nav div a:hover {
    color: #0065FC;
    font-weight: bolder;
    border-top: 3px solid #0065FC;
    padding-top: 50px;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

h1 {
    font-size: 22px;
    font-weight: 950;
    margin-bottom: 10px;
}

h2 {
    font-size: 18px;
    font-weight: 950;
}

h3 {
    font-size: 16px;
    font-weight: 950;
}

p {
    font-size: 16px;
}

.barre-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 30px;
}

.barre-search {
    font-size: 18px;
    height: 50px;
    width: 432px;
    display: flex;
}

.search-gauche {
    border-bottom: 1px solid #D9D9D9;
    border-left: 1px solid #D9D9D9;
    border-top: 1px solid #D9D9D9;
    background-color: #D9D9D9;
    height: 50px;
    width: 90px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.location-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.search-millieu {
    height: 50px;
    width: 100%;
    border: 1px solid #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: none;
    border-right: none;
}

.input-millieu {
    font-family: 'Raleway', sans-serif;
    font-weight: 950;
    font-size: 18px;
    border: none;
    height: 90%;
    width: 90%;
}

.input-millieu:focus {
    outline: none;
}

.search-droite {
    border-top: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    background-color: #0065FC;
    height: 50px;
    width: 250px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    
}

.input-droite {
    font-family: 'Raleway', sans-serif;
    font-weight: 950;
    font-size: 18px;
    display: flex;
    width: 99%;
    height: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #0065FC;
    justify-content: center;
    border: none;
    align-items: center;
    color: #f1f1f1;
    cursor: pointer;
}

.filters {
    font-size: 11px;
    font-weight: 950;
    margin-bottom: 30px;
}

.filters-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.button {
    height: 50px;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    font-weight: 950;
    background-color: white;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 0 20px 0 20px;
    cursor: pointer;
}

.button i {
    color: #0065FC;
    padding-right: 5px;
}

.button:hover {
    background-color: #DEEBFF;
}

.i-container {
    height: 24px;
    width: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.i-container i {
    color: #0065FC;
}

.information {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
}

/* ______________________ Hébergements & Tendances ______________________ */

.result-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 60px;
    gap: 30px;
}

.result-container h3 {
    font-size: 16px;
}

.result-container p {
    font-size: 14px;
}

.hebergements-container {
    height: 492px;
    width: 766px;;
    background-color: #D9D9D9;
    border-radius: 20px;
    padding: 40px;
}

.hebergements-container h1 {
    margin-bottom: 15px;
}

#h-h3 {
    margin-top: 15px;
}

.populaires-container {
    height: 492px;
    width: 380px;
    background-color: #D9D9D9;
    border-radius: 20px;
    padding: 40px 35px 40px 35px;
    margin-right: 60px;
}

.title-icon {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 25px;
}

.title-icon i {
    color: #0065FC;
}

.result-hebergement {
    height: 170px;
    width: 210px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.result-top1 {
    height: 59%;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-top2 {
    height: 93%;
    width: 96%;
    border-radius: 20px 20px 0 0;
    overflow: clip;
    object-fit: fill;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-bottom1 {
    height: 39%;
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-bottom2 {
    height: 100%;
    width: 90%;
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.rating-stars {
    display: flex;
}

.fullstar {
    color: #0065FC;
}

.emptystar {
    color: #D9D9D9;
}

.images1 {
    max-width: 100%;
    height: auto;
}

.h-row-container {
    height: 84%;
    width: 99%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #D9D9D9;
}

.h-row1 {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.h-row2 {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
}

.tendances-row {
    height: 88%;
    width: 99%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.result-tendance {
    height: 120px;
    width: 340px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
}

.result-left1 {
    height: 99%;
    width: 36%;
    border-radius: 20px 0 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-left2 {
    height: 95%;
    width: 95%;
    border-radius: 20px 0 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: clip;
    object-fit: fill;
}

.result-right1 {
    height: 99%;
    width: 59%;
    border-radius: 0 20px 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-right2 {
    height: 90%;
    width: 90%;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.result-right3 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
}

.images2 {
    max-height: 100%;
    width: auto;
}

.images2-bis {
    max-width: 100%;
    height: auto;
}

/* ______________________ Activités ______________________ */

.activities-container {
    height: fit-content;
    width: 95%;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.result-activities {
    height: 424px;
    width: 282px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.activitie-top {
    height: 87%;
    width: 100%;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: clip;
    object-fit: fill;
}

.activitie-bottom {
    height: 13%;
    width: 99.4%;
    border-radius: 0 0 20px 20px;
    display: flex;
    align-items: center;
}

.activitie-bottom h3 {
    margin-left: 20px;
}

/* ______________________ FOOTER ______________________ */

footer {
    display: flex;
    justify-content: center;
    padding: 50px 50px 0 50px;
}

.footer-container {
    height: 152px;
    width: 100%;
    background-color: #D9D9D9;
    padding: 45px 70px;
}

.footer-container h3 {
    margin-bottom: 10px;
}

.footer-row {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.footer-column1,
.footer-column2,
.footer-column3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* ____________________________________________ TABLETTES ____________________________________________ */

@media screen and (min-width: 769px) and (max-width: 992px) {
    .filters-buttons {
        gap: 15px;
    }

    .result-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .result-container h3 {
        font-size: 15px;
    }

    .result-container p {
        font-size: 13px;
    }

    .hebergements-container {
        width: 85%;
    }

    .populaires-container {
        height: fit-content;
        width: 86%;
    }

    .tendances-row {
        flex-direction: row;
        gap: 10px;
    }

    .result-tendance {
        width: 252px;
    }

    .result-left2 {
        height: 96%;
        width: 92%;
    }

    .result-right3 {
        gap: 2.5px;
    }

    .result-activities {
        height: 247px;
        width: 162px;
    }

    .activitie-top {
        height: 80%;
    }

    .activitie-bottom h3 {
        font-size: 14px;
        margin-top: 10px;
        margin-left: 15px;
    }

    .activities-container {
        gap: 5px;
    }

    .images1 {
        max-width: 100%;
        height: auto;
    }

    .images2 {
        max-height: 100%;
        width: auto;
    }

    .images2-bis {
        height: 100%;
        width: 100%;
    }
}

/* ____________________________________________ TÉLÉPHONES ____________________________________________ */


